.userPageContainer {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    'search'
    'list';

  .searchContainer {
    padding: 1rem 0.5rem;
    grid-area: search;
    border-bottom: 1px solid #ccc;

    .userCount {
      font-size: 1.3rem;
      display: flex;
      justify-content: flex-end;
      color: #888;
    }
  }

  .userListContainer {
    padding: 1.5rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
    grid-area: list;
    max-height: 65vh;
  }
}

.badge {
  &.active {
    color: rgb(20, 151, 20);
  }
  &.inactive {
    color: rgb(212, 21, 21);
  }
}

.detail {
  color: #888;

  &:hover {
    color: #444;
    cursor: pointer;
  }
}

.cardUser {
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  flex-grow: 1;
  max-width: 50rem;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 3px 10px #ddd;
  }

  .avatar {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 100%;
    }
  }

  .userStatus {
    width: 100%;
  }

  .info {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    > div:first-child {
      font-weight: bold;
      font-size: 1.6rem;
    }
  }

  .cta {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}

.statusBadge {
  font-size: 1rem;
  text-transform: uppercase;

  .active {
    padding: 0.2rem 0.5rem;
    background-color: rgb(27, 126, 27);
    color: #fff;
    border-radius: 0.3rem;
    position: relative;
    margin-top: -2rem;
  }

  .inactive {
    padding: 0.2rem 0.5rem;
    background-color: rgb(228, 41, 41);
    color: #fff;
    border-radius: 0.3rem;
    margin: 0.2rem 0;
    margin-top: -2rem;
  }
}

.floatingButton {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  background: #0065ff;
  color: #fff;
  position: fixed;
  right: 2.5rem;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px #888;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }
}
