* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
}

#__next {
  height: 100%;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 1rem 1.5rem;
  background: #ffffff;
  border: 0.1rem solid #d1d1d1;
  box-shadow: inset 0px 4px 10px rgba(216, 216, 216, 0.25);
  border-radius: 0.4rem;

  &:focus {
    outline: 2px solid #444;
    outline-offset: 0px;
  }
}

button {
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 1.8rem;
  transition: all 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

a {
  text-decoration: none;
  color: #888;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #888;
  }

  &:active,
  &:focus,
  &:hover {
    color: #222;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    text-align: left;
  }

  th,
  td {
    padding: 0.5rem 1rem;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 0.4rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
